<html lang="en">
<head>
  <title>HOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesform.css') }}" />
  
  <style >
</style>
  
</head>
<body>
    <h1>Hello, {{ name|upper }}!</h1>

    

<br>
<br>
{#
<p>A value from a dictionary: {{ mydict['key'] }}.</p>
<p>A value from a list: {{ mylist[3] }}.</p>
<p>A value from a list, with a variable index: {{ mylist[myintvar] }}.</p>
<p>A value from an object's method: {{ myobj.somemethod() }}.</p>
#}
<br>
<br>
<br>
<br>

<footer class="row">
    <div class="panel-footer text-center bg-dark">
<p> <i>powered by</i>  <b> InfoClan</b> copyrights 2017</p>
    </div>
  </footer>